.modifier {
    color: #e17055;
}

.afficher {
    color: #0984e3;
}

.desister {
    color: #d63031;
}

.annuler {
    color: #636e72;
}

.annuler-admin {
    color: #636e72;
}

.inscrire {
    color: #00b894;
}