body{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1vw;
    background-image: url("https://source.unsplash.com/1600x900/?travel,fun,surf,landscape,people,night");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    padding: 0 3vw;
}

header {
    box-shadow: 1px 1.5px 5px -2px rgba(0,0,0,0.5);
}

.container {
    background-color: white;
    padding: 3vw 2vw;
    border-radius: 2em;
    box-shadow: 1px 1.5px 5px -2px rgba(0,0,0,0.5)
}


.flash-success {
    text-align: center;
    font-size: 1.3vw;
    background-color: aquamarine;
    color: #fdcb6e;
}

.flash-error {
    text-align: center;
    font-size: 1.3vw;
    background-color: #d63031;
    color: white;
}

.navbar {
    margin-bottom: 3vw;
    padding: 1vw 1vw;
    background-color: white;
}

.navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5vw;
    width: 40%;
}

.navbar-brand p {
    color: #00b894;
}



.nav-item {
    font-size:calc(2px + 1vw);
}

.sortireni, h1{
    font-family: 'Fredoka One', cursive;
}

.navbar-brand img {
    width: 80%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #636e72;
}

#navbarNav ul li:not(:first-child)
{
    border-left: thick double #b2bec3;
}

h1{
    margin-bottom: 5vw !important;
    text-align: center;
    padding: 0 1vw;
}

label {
    font-size: 1vw;
    font-weight: bold;
}

.center-div {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
}

.btn-primary {
    background-color: #00b894;
    border-color: #00b894;
}

.btn-danger {
    background-color: #636e72;
    border-color: #636e72;
}

.btn-primary:hover {
    background-color: #a29bfe;
    border-color: #a29bfe;
}

.btn-outline-primary {
    color: #636e72;
    border-color: #636e72;
}

.btn-outline-primary:hover {
    background-color: #00b894;
    border-color: #00b894;
}

legend {
    color: white;
    font-size: 0;
}

footer.box {
    text-align: center;
    background-color: #dfe6e9;
    color: #636e72;
    font-size: 0.8rem;
    margin-top: 2vw;
}


.modifier {
    color: #e17055;
}

.desister {
    color: #d63031;
}

.annuler {
    color: #636e72;
}

.inscrire {
    color: #00b894;
}

.afficher {
    color: #0984e3;
}