{# Créé par Amandine #}

{% extends 'base.html.twig' %}
{% block title %}Admin !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/adminParticipants.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminForm.css') }}">
{% endblock %}

{% block main %}

    <div class="container btn-center">
        <h1>Ajouter des participants</h1>
        <a href="{{ path('admin_participants_fichier') }}"><button class="btn btn-outline-primary btn-lg">Inscrire à partir d'un fichier</button></a>
        <a href="{{ path('admin_participants_form') }}"><button class="btn btn-outline-primary btn-lg">Inscrire via un formulaire</button></a>
    </div>

{% endblock %}