<div>
    <h3>Modèle de saisie à respecter dans le fichier :</h3>
    <blockquote>
      <pre>
        <code>
            [
                {
                    "nom": "Doe",
                    "prenom": "John",
                    "username": "jojo",
                    "telephone": "564515624",
                    "mail": "jojo@mail.com",
                    "password": "symfony",
                    "roles": ["ROLE_USER"],
                    "administrateur": 0,
                    "actif": 1,
                    "campus": 1
                },
                {
                    "nom": "Doe",
                    "prenom": "Jane",
                    "username": "jaja",
                    "telephone": "564515624",
                    "mail": "jaja@mail.com",
                    "password": "symfony",
                    "roles": ["ROLE_ADMIN" ],
                    "administrateur": 1,
                    "actif": 1,
                    "campus": 2
                }
            ]
        </code>
      </pre>
        </blockquote>

</div>
